services:
  cores_hub:
    build: .
    container_name: htmx-cores-hub
    restart: unless-stopped
    volumes:
      - .:/app
    ports:
      - "8002:8000"
    # command: '/bin/sh -c "while : ; do sleep 1 ; done ;"'
    command: '/bin/sh -c "sleep 5; uv run manage.py runserver 0.0.0.0:8000"'
  redis:
    image: redis:7
    container_name: redis_4_django
    restart: unless-stopped
    volumes:
      - ./redis_data:/data
    # ports:
    #   - 6379:6379
