{% extends 'base/base.html' %}

{% block content %}

<div class="flex items-center">
    <div class="bg-white p-6 rounded-lg w-full lg:w-3/4">
        <h1 class="text-4xl">Cores Hub Homepage</h1>

        <ul class="mt-2">
            {% for page in pages %}
            {% include 'base/partials/page-list-item.html' %}
            {% empty %}
            <p>There are no pages available.</p>
            {% endfor %}
        </ul>
    </div>
</div>

<form hx-post="/test-sproc" hx-target="#test-sproc-target" hx-swap="innerHTML">
    <label for="test-sproc-job-number">Job Number: </label>
    <input type="text" id="test-sproc-job-number" placeholder="gimme a job" name='job_number'>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl">Responsive</button>
</form>

<div id="test-sproc-target"></div>
{% endblock %}