{% block content %}

<div hx-ext="ws" ws-connect="/ws/cores_hub/">
    <div id="serialize-gallery" class="gallery border-2 border-solid border-blue-500 mx-4"
        x-data="{ 
            selected_job: '' , 
            selected_action: '' , 
            isModalOpen: false,
            holdToggles: {}
        }" 
        x-on:keydown.escape="
            isModalOpen = false;
        " 
        hx-swap="afterbegin settle:200ms">

        {% for row in jobs %}
        {% include 'serialize/partials/job-row.html' %}
        {% endfor %}
        
        {% include 'serialize/partials/popup-modal.html' %}
    </div>
</div>
{% endblock %}