{% block content %}
{% load static %}

<div class="filters" x-data="{
        selected_date: new Date('2025-10-31').toISOString().split('T')[0], 
        <!-- selected_date: new Date().toLocaleDateString('en-CA').split('T')[0],  -->
        addDays(date, days) {
            let d = new Date(date + 'T00:00:00');
            d.setDate(d.getDate() + days);
            return d.toISOString().split('T')[0];
        },
        dincrement(days) {
            this.selected_date = this.addDays(this.selected_date, days);
            this.$nextTick(() => {
                this.$dispatch('selected-date-changed', { selected_date: this.selected_date });
            });
        }
    }">
    <div class="schedule-day">
        <label for=" schedule-datepicker">Start date:</label>
        <div>
            <button @click="dincrement(-1)">&lt;</button>
            <input hx-get="/refresh/" hx-trigger="input changed, selected-date-changed from:.filters" hx-target=".gantt"
                hx-swap="innerHTML" type="date" x-model="selected_date" id="schedule-datepicker" name="selected_date"
                value="selected_date" min="2024-01-01" max="2026-12-31" />
            <button @click="dincrement(1)">&gt;</button>
        </div>
    </div>
    <div class="file-input">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Select a file:</label>
            <input type="file" id="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    <span class="schedule-datail-filters">
        <label for="show-printers">Show Printers:</label>
        <select id="show-printers" name="printer-model">
            <option value="550X">Core 550X</option>
            <option value="550XT">Core 550XT</option>
            <option value="530X">Core 530X</option>
        </select>
        <br>
        <label for="show-info">Show Info:</label>
        <select id="show-info" name="prinfo">
            <option value="basic">Basic</option>
            <option value="Print Type">Print Type</option>
        </select>
    </span>
    <input type="text" placeholder="Search Bar">
    <span><img src="{% static 'svg/reset.svg' %}" id="reset-schedule" hx-get="/refresh/" hx-target="next .gantt"
            hx-include="#schedule-datepicker"></span>
    <span class="schedule-actions">
        <div>
            <input type="hidden" id="hidden-selected-time" name="selected_hour_index"
                x-bind:value="selected_hour_index">
            <button hx-get="/refresh/" hx-include="#schedule-datepicker, #hidden-selected-time" hx-target="next .gantt"
                id="schedule-cache">Cache</button>
            <button hx-get="/collect/" hx-include="#schedule-datepicker, #hidden-selected-time, #print-gap-time"
                hx-target="next .gantt" id="schedule-collect">Collect</button>
        </div>
        <div>
            <label for="show-printers">Exclude Printers:</label>
            <select id="show-printers" name="printer-model">
                <option value="1">Printer 1</option>
                <option value="2">Printer 2</option>
                <option value="3">Printer 3</option>
            </select>
            <div>
                <label for="print-gap-time"><em>Gap Time (min)</em></label>
                <input type="text" name="min_gap_time" id="print-gap-time" x-model="gap_time">
            </div>
        </div>
    </span>
</div>

{% endblock %}