{% block content %}
<div hx-ext="ws" ws-connect="/ws/cores_hub/">
    <div id="sort-gallery" class="gallery border-2 border-solid border-blue-500 mx-4"
        x-data="{ selected_job: '' , selected_action: '' , isModalOpen: false }" x-on:keydown.escape="
        isModalOpen = false
    " hx-swap="afterbegin settle:200ms">

        {% for row in jobs %}
        {% include 'sort/partials/job-row.html' %}
        {% endfor %}
        <div class="flex items-center justify-center fixed z-10 w-4/5 h-full left-[10%] top-0" role="dialog"
            tabindex="-1" x-show="isModalOpen" x-on:click.away="isModalOpen = false" x-cloak x-transition>
            <div class="bg-white rounded-lg max-w-[800px] p-8 m-auto">
                <div class="flex items-center justify-between border-b-2 border-black">
                    <h3 x-text="selected_action"></h3>
                    <a aria-label="Close" x-on:click="isModalOpen = false">✖</a>
                </div>
                <ul class="parts"></ul>
                <form ws-send>
                    <a class="border-2 border-solid bg-red-400 rounded-lg p-2 mt-2"
                        x-on:click="isModalOpen = false">Cancel</a>
                    <input type="hidden" name="job_number" x-bind:value="selected_job">
                    <input type="hidden" name="page" value="sort">
                    <input type="hidden" name="action" value="move">
                    <button class="border-2 border-solid bg-blue-400 rounded-lg p-2 mt-2"
                        x-on:click="isModalOpen = false" id="move">Are you sure?</button>
                </form>
            </div>
        </div>
        <div class="w-full h-full fixed top-0 left-0 bg-black opacity-75" x-show="isModalOpen" x-cloak></div>
    </div>
</div>
{% endblock %}